* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

#head {
    color: #FFF;
    margin-left: 163px;
    margin-top: 72px;
}

.box {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    display: flex;
    margin-left: 120px;
}

.box2 {
    color: #BFBFBF;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    
    margin-left: 88px;
}
